@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: #E5E5E5;
}

.container {
    max-width: 1200px;
    margin: 3rem auto;
    min-height: 60vh;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

.container main {
    display: grid;
    justify-content: center;
    padding: 15px 0;
}

.container main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    border-radius: 10px;
    background-color: #BFC8E5;
    margin: 15px 0 ;
}

.container main .header .item {
    transition: all 0.3s ease;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    padding: 20px;
}

.container main .header .active {
    background-color: #516FD4FC;
}

.container main .header .item a {
    text-decoration: none;
    color: #FFFFFF;
}


.container main .header .item:hover{
    background-color: #516FD4FC;
}

.container main .entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 70%; */
    margin: 30px 0 20px 0;
}

.container main .entete a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px;
    background-color: #516FD4FC;
    border-radius: 8px;
}

.container main .entete span:nth-child(1) {
    font-weight: 900;
}

.hide{
    display: none !important;
}

.show{
    display: grid;
}

.container main .header .item:first-child{
    border-radius: 10px 0 0 10px;
}

.container main .header .item:last-child {
    border-radius: 0 10px 10px 0;
}

.container main .allquestion {
    display: grid;
    justify-content: center;
}

.container main .allquestion .question {
    background-color: #D9D9D980;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.container main .allquestion .question .view {
    margin-left: 320px;
    background-color: #27BC48;
    padding: 8px;
    color: #FFFFFF;
    border-radius: 7px;
}

.container main .allquestion .question .blockquestion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container main .allquestion .question a {
    text-decoration: none;
}

.container main .allquestion .question .user span:last-child {
    margin-left: 10px;
    background-color: #35DC5A3B;
    ;
    padding: 7px;
    color: #FFFFFF;
    border-radius: 15px;
}

.container main .allquestion .question .user {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.container main .allquestion .question .image img{
    width: 30px;
}

.container main .allquestion .question .user .name_user {
    margin-left: 10px;
    font-weight: 800;
}

@media screen and (max-width: 750px) {
    .container{
        width: 90%;
        margin: 50px;
    }

    .container main .header {
        flex-direction: column;
    }
}