<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <main>
        <!-- user informations -->
        <section id="user-information">
            <div id="user-detail">
                <div class="image">
                    <img src="../header/download.jpeg" alt="">
                </div>
                <div class="infos">
                    <h3>Yaya Hc</h3>
                    <p>inscrit le 22 nov 2022</p>
                    <p>Derniere connexion le 23 nov 2022</p>
                </div>
            </div>

            <div class="user-detail-editable">
                <p contenteditable="true">UFHB</p>
                <p contenteditable="true">Math-info</p>
                <p contenteditable="true">Licence 1</p>
                <p contenteditable="true">Male</p>
                <button type="button">enregistrer les modifictions</button>
            </div>

            <div class="user-cta">
                <h3>Message</h3>
                <p>Bienvenue sur arche-beta n’exite pas a nous donner en feedback t’es avis sur le baill...</p>
                <button type="button">feedback</button>
            </div>
        </section>

        <!-- user data -->
        <section id="data">
            <div id="dashboard-questions">
                <h2>Mes questions</h2>
                <div class="questions">
                    <div class="question-item">
                        <div class="question-item-cta">
                            <div class="name-response">
                                <h3>Yaya Hc</h3>
                                <p>9 reponses</p>
                            </div>
                            <p>Titire de la question ici ipsum sit dolore amores conecticut adiselit</p>
                        </div>
                        <button type="button">voir</button>
                    </div>
                    <div class="question-item">
                        <div class="question-item-cta">
                            <div class="name-response">
                                <h3>Yaya Hc</h3>
                                <p>9 reponses</p>
                            </div>
                            <p>Titire de la question ici ipsum sit dolore amores conecticut adiselit</p>
                        </div>
                        <button type="button">voir</button>
                    </div>                
                </div>
            </div>
            <div id="dascborad-responses">
                <h2>Mes reponses</h2>
                <div class="reponses">
                    <div class="reponses-item">
                        <div class="reponses-item-cta">
                            <h3>Titre de la reponse</h3>
                            <p>Titre de la reponse ici ipsum sit dolore amores conecticut adiselit</p>
                        </div>
                        <button type="button">voir</button>
                    </div> 
                    <div class="reponses-item">
                        <div class="reponses-item-cta">
                            <h3>Titre de la reponse</h3>
                            <p>Titre de la reponse ici ipsum sit dolore amores conecticut adiselit</p>
                        </div>
                        <button type="button">voir</button>
                    </div>                            
                </div>
            </div>
        </section>
    </main>
</body>
</html>