body{
    background: #E5E5E5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
@media screen and (min-width:1201px){
    #conteneurprincipale{
        display:flex;
        flex-direction:column;
        margin:6em auto;
        background-color:#516FD4;
        width: 25%;
        height: 60vh;
        border-radius: 10px;
        padding:2em;
    }
    .regle h3{
       
      
        margin-bottom:2em;
       
        font-size: 1.1em;
        line-height: 21px;

        color: #FFFFFF;

    }
    .regle{
        margin-bottom:2.5em;
        color:rgba(245, 245, 245, 0.897);
        font-size:1em;
    }
    .lien{
        display:flex;
        margin-bottom:4.5em;
    }
    .lien .texte{
        color:white;
        font-size:0.9em;
        text-decoration:underline;
        margin-right:2.5em;
        width:55%;


    }
    .lien .check .switch{
        
        display: inline-block;
        position: relative;
        width: 3.2em;
        height: 1.5em;
        margin-top:0.8em;
        
        cursor: pointer;
        overflow: hidden;
        
        
    }
    .lien .check .switch input{
        
        position: absolute;
        top: -30px;
        left: -30px;
       
        width: 0;
        height: 0;
    
    }
    .lien .check .switch input + span {
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       background: #D9D9D9;
       border-radius: 20px;
   }
    .lien .check .switch input:checked + span {
	    background: #27BC48;
        
    }
    .lien .check .switch input + span:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0.2em;
        width: 1.2em;
        height: 1.2em;
       

        background: #27BC48;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: all .5s;
    }
    
    .lien .check .switch input + span:after {
        content: "";
        display: inline-block;
       
        
        margin-top:0.18em;
        
        
        width: 1.22em;
        height: 1.22em;
       

        background: #D9D9D9;
        border-radius: 50%;
        transform: translateX(155%);
        transition: all .5s;
    }
   
    
    .seconnecter .button{
        display:inline-block;
        width:100%;
        height:3em;
        border-radius:0.5em;
        font-weight:bold;
        color:white;
        border:0em;
        background-color: #27BC48;
        cursor: pointer;
    }

}
@media screen and (max-width:375px){
    #conteneurprincipale{
        display:flex;
        flex-direction:column;
        margin:12em auto;
        background-color:#516FD4;
        width: 78%;
        height: 40vh;
        border-radius: 10px;

        padding:2em;
    }
    .regle h3{
       
      
        margin-bottom:1em;
        margin-top:0em;
       
        font-size: 0.9em;
        line-height: 21px;

        color: #FFFFFF;

    }
    .regle{
        margin-bottom:0.8em;
        color:rgba(245, 245, 245, 0.397);
        font-size:0.9em;
    }
    .lien{
        display:flex;
        margin-bottom:1em;
    }
    .lien .texte{
        color:white;
        font-size:0.85em;
        text-decoration:underline;
        margin-right:2.5em;
        width:55%;


    }
    .lien .check .switch{
        
        display: inline-block;
        position: relative;
        width: 3.2em;
        height: 1.5em;
        margin-top:0.8em;
        
        cursor: pointer;
        overflow: hidden;
        
        
    }
    .lien .check .switch input{
        
        position: absolute;
        top: -30px;
        left: -30px;
       
        width: 0;
        height: 0;
    
    }
    .lien .check .switch input + span {
        position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       background: #D9D9D9;
       border-radius: 20px;
   }
    .lien .check .switch input:checked + span {
	    background: #27BC48;
    }
    
    
    .lien .check .switch input + span:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0.2em;
        width: 1.2em;
        height: 1.2em;
       

        background: #27BC48;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: all .5s;
    }
    
    .lien .check .switch input + span:after {
        content: "";
        display: inline-block;
       
        
        margin-top:0.16em;
        
        
        width: 1.21em;
        height: 1.21em;
       

        background: #D9D9D9;
        border-radius: 50%;
        transform: translateX(155%);
        transition: all .5s;
    }
    .seconnecter .button{
        display:inline-block;
        width:105%;
        height:2.5em;
        border-radius:0.5em;
        color:white;
        border:0em;
        background-color: #27BC48;
        cursor: pointer;
    }


}
@media screen and (min-width:376px) and (max-width:576px){
    #conteneurprincipale{
        display:flex;
        flex-direction:column;
        margin:12em auto;
        background-color:#516FD4;
        width: 65%;
        height: 40vh;
        border-radius: 10px;
        padding:2em;
    }
    .regle h3{
       
      
        margin-bottom:1em;
        margin-top:0em;
       
        font-size: 0.85em;
        line-height: 21px;

        color: #FFFFFF;

    }
    .regle{
        margin-bottom:1em;
        color:rgba(245, 245, 245, 0.397);
        font-size:1.02em;
    }
    .lien{
        display:flex;
        margin-bottom:2em;
    }
    .lien .texte{
        color:white;
        font-size:0.85em;
        text-decoration:underline;
        margin-right:2.5em;
        width:55%;


    }
    .lien .check .switch{
        
        display: inline-block;
        position: relative;
        width: 3.2em;
        height: 1.5em;
        margin-top:0.8em;
        
        cursor: pointer;
        overflow: hidden;
        
        
    }
    .lien .check .switch input{
        
        position: absolute;
        top: -30px;
        left: -30px;
       
        width: 0;
        height: 0;
    
    }
    .lien .check .switch input + span {
        position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       background: #D9D9D9;
       border-radius: 20px;
   }
    .lien .check .switch input:checked + span {
	    background: #27BC48;
    }
    
    
    .lien .check .switch input + span:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0.2em;
        width: 1.2em;
        height: 1.2em;
       

        background: #27BC48;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: all .5s;
    }
    
    .lien .check .switch input + span:after {
        content: "";
        display: inline-block;
       
        
        margin-top:0.16em;
        
        
        width: 1.21em;
        height: 1.21em;
       

        background: #D9D9D9;
        border-radius: 50%;
        transform: translateX(155%);
        transition: all .5s;
    }
    .seconnecter .button{
        display:inline-block;
        width:100%;
        height:2.5em;
        border-radius:0.5em;
        color:white;
        border:0em;
        background-color: #27BC48;
        cursor: pointer;
    }


}
@media screen and (min-width:577px) and (max-width:768px){
    #conteneurprincipale{
        display:flex;
        flex-direction:column;
        margin:12em auto;
        background-color:#516FD4;
        width: 52%;
        height: 40vh;
        border-radius: 10px;
        padding:2em;
    }
    .regle h3{
       
      
        margin-bottom:2em;
        margin-top:1.5em;
       
        font-size: 1em;
        line-height: 21px;

        color: #FFFFFF;

    }
    .regle{
        margin-bottom:3em;
        color:rgba(245, 245, 245, 0.397);
        font-size:1.05em;
    }
    .lien{
        display:flex;
        margin-bottom:2em;
    }
    .lien .texte{
        color:white;
        font-size:1em;
        text-decoration:underline;
        margin-right:2.5em;
        width:55%;


    }
    .lien .check .switch{
        
        display: inline-block;
        position: relative;
        width: 3.2em;
        height: 1.5em;
        margin-top:0.8em;
        
        cursor: pointer;
        overflow: hidden;
        
        
    }
    .lien .check .switch input{
        
        position: absolute;
        top: -30px;
        left: -30px;
       
        width: 0;
        height: 0;
    
    }
    .lien .check .switch input + span {
        position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       background: #D9D9D9;
       border-radius: 20px;
   }
    .lien .check .switch input:checked + span {
	    background: #27BC48;
    }
    
    
    .lien .check .switch input + span:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0.2em;
        width: 1.2em;
        height: 1.2em;
       

        background: #27BC48;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: all .5s;
    }
    
    .lien .check .switch input + span:after {
        content: "";
        display: inline-block;
       
        
        margin-top:0.16em;
        
        
        width: 1.21em;
        height: 1.21em;
       

        background: #D9D9D9;
        border-radius: 50%;
        transform: translateX(155%);
        transition: all .5s;
    }
    .seconnecter .button{
        display:inline-block;
        width:100%;
        height:2.5em;
        border-radius:0.5em;
        color:white;
        border:0em;
        background-color: #27BC48;
        cursor: pointer;
    }


}
@media screen and (min-width:769px) and (max-width:992px){
    #conteneurprincipale{
        display:flex;
        flex-direction:column;
        margin:12em auto;
        background-color:#516FD4;
        width: 45%;
        height: 40vh;
        border-radius: 10px;
        padding:2em;
    }
    .regle h3{
       
      
        margin-bottom:1.5em;
        margin-top:1.5em;
       
        font-size: 1.2em;
        line-height: 21px;

        color: #FFFFFF;

    }
    .regle{
        margin-bottom:1.2em;
        color:rgba(245, 245, 245, 0.397);
        font-size:1.2em;
    }
    .lien{
        display:flex;
        margin-bottom:3em;
    }
    .lien .texte{
        color:white;
        font-size:0.85em;
        text-decoration:underline;
        margin-right:2.5em;
        width:55%;


    }
    .lien .check .switch{
        
        display: inline-block;
        position: relative;
        width: 3.2em;
        height: 1.5em;
        margin-top:0.8em;
        
        cursor: pointer;
        overflow: hidden;
        
        
    }
    .lien .check .switch input{
        
        position: absolute;
        top: -30px;
        left: -30px;
       
        width: 0;
        height: 0;
    
    }
    .lien .check .switch input + span {
        position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       background: #D9D9D9;
       border-radius: 20px;
   }
    .lien .check .switch input:checked + span {
	    background: #27BC48;
    }
    
    
    .lien .check .switch input + span:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0.2em;
        width: 1.2em;
        height: 1.2em;
       

        background: #27BC48;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: all .5s;
    }
    
    .lien .check .switch input + span:after {
        content: "";
        display: inline-block;
       
        
        margin-top:0.16em;
        
        
        width: 1.21em;
        height: 1.21em;
       

        background: #D9D9D9;
        border-radius: 50%;
        transform: translateX(155%);
        transition: all .5s;
    }
    .seconnecter .button{
        display:inline-block;
        width:100%;
        height:2.5em;
        border-radius:0.5em;
        color:white;
        border:0em;
        background-color: #27BC48;
        cursor: pointer;
    }


}
@media screen and (min-width:993px) and (max-width:1200px){
    #conteneurprincipale{
        display:flex;
        flex-direction:column;
        margin:12em auto;
        background-color:#516FD4;
        width: 35%;
        height: 40vh;
        border-radius: 10px;
        padding:1em 2em 2em 2em;
    }
    .regle h3{
       
      
        margin-bottom:1.3em;
        margin-top:2em;
       
        font-size: 1.3em;
        line-height: 21px;

        color: #FFFFFF;

    }
    .regle{
        margin-bottom:2.5em;
        color:rgba(245, 245, 245, 0.397);
        font-size:1.2em;
    }
    .lien{
        display:flex;
        margin-bottom:2em;
    }
    .lien .texte{
        color:white;
        font-size:1em;
        text-decoration:underline;
        margin-right:2.5em;
        width:55%;


    }
    .lien .check .switch{
        
        display: inline-block;
        position: relative;
        width: 3.2em;
        height: 1.5em;
        margin-top:0.8em;
        
        cursor: pointer;
        overflow: hidden;
        
        
    }
    .lien .check .switch input{
        
        position: absolute;
        top: -30px;
        left: -30px;
       
        width: 0;
        height: 0;
    
    }
    .lien .check .switch input + span {
        position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       background: #D9D9D9;
       border-radius: 20px;
   }
    .lien .check .switch input:checked + span {
	    background: #27BC48;
    }
    
    
    .lien .check .switch input + span:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0.2em;
        width: 1.2em;
        height: 1.2em;
       

        background: #27BC48;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: all .5s;
    }
    
    .lien .check .switch input + span:after {
        content: "";
        display: inline-block;
       
        
        margin-top:0.16em;
        
        
        width: 1.21em;
        height: 1.21em;
       

        background: #D9D9D9;
        border-radius: 50%;
        transform: translateX(155%);
        transition: all .5s;
    }
    .seconnecter .button{
        display:inline-block;
        width:100%;
        height:2.5em;
        border-radius:0.5em;
        color:white;
        border:0em;
        background-color: #27BC48;
        cursor: pointer;
    }


}