.question{
	font-size: 2rem;
	color: greenyellow;
	justify-content: center;
	align-items: center;
	display: grid;
	padding: 20px;

}
.question label {
	color: black;
	margin: 0.3 rem;
}

.question input, .question label textarea , .question label input{
	border-radius: 4px;
	margin: 0.2 0.9 rem;

}
.question button {
	border-radius: 20px;
	height: 2rem;
	width: 50%;
	font-size: 20px;
	padding: 9px;
	align-items: center;
	justify-content: center;
	display: flex;
}
.question p{
	color: black;
	margin: 0.6 0.3 rem;

}
