@import url('https://fonts.googleapis.com/css2?family=NTR&family=Poppins:wght@400;500;600&display=swap');
body {
    background-color: #E5E5E5;
}
.btn-primary {
    background: #5170d5d5;
    border: none;
    border-radius: 5px;
    padding: 2px 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    color: #FBFCFF;
}
.btn-primary:hover {
    cursor: pointer;
    background-color: rgba(81, 111, 213, 0.99);
}
.btn-secondary {
    background-color: white;
    color: black;
    border: 1px solid green;
    padding: 7px 14px;
    border-radius: 7px;
}

header {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 10px 35px;
}

#logo {
    display: flex;
    gap: 10px;
}

#header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#arche {
    font-family: 'Poppins';
    font-weight: 500;
    color: #000000;
}

#beta {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    background: rgba(53, 220, 90, 0.58);
    border: 1px solid rgba(39, 188, 72, 0.37);
    padding: 5px 17px;
    border-radius: 20px;
}
#beta:hover {
    opacity: 0.8;
    background-color: #27BC48;
}

#blog-btn {
    font-size: 1rem;
}

#login-btn {
    font-size: 1rem;
}


@media (max-width:448px) {
    #beta {
        display: none;
    }
    header {
        padding: 5px 12px;
    }
}