@import url('https://fonts.googleapis.com/css2?family=NTR&family=Poppins:wght@400;500;600&display=swap');
body {
    background-color: #E5E5E5;
}
.btn-primary {
    background: #5170d5d5;
    border: none;
    border-radius: 5px;
    padding: 2px 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    color: #FBFCFF;
}
.btn-primary:hover {
    cursor: pointer;
    background-color: rgba(81, 111, 213, 0.99);
}
.btn-secondary {
    background-color: white;
    color: black;
    border: 1px solid green;
    padding: 7px 14px;
    border-radius: 7px;
}

footer {
    font-family: 'Poppins';
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 10px 35px;
}

@media (max-width:448px) {
    #copyright {
        display: none;
    }  
}