ul {
    list-style: none;
    border: 1px solid black;
    margin: 10px;
}

.dashboard{
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 20px;
    position: absolute;
    margin: 2rem 4rem;
}
.dashboard img {
    border-radius: 50px;
    margin: 2rem;
}

.dashboard button {
    border-radius: 20px;
    width: 99%;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background: black;
    color: azure;
    font-size: 2rem;

}

.dashboard button:hover {
    border-radius: 20px;
    width: 99%;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background: whitesmoke;
    color: blueviolet;
    font-size: 2rem;
    top: 2px;
    position: relative;
    transition: .3s;

}